<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.username %>,</h1>
    <h1>Welcome to kamzzy-CMS Demo</h1>
    <p>
      You seemed to have forgotten your password?
      If not then please just ignore this email.<br>
    </p>
    <p>
      To reset the password associated with this account, just follow this link: 
      <%= link_to "Password Reset link", password_reset_account_url(:password_reset_token => @user.password_reset_token) %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>